GUI.json
[
    {
        "id": "fab5440.6ce50c",
        "type": "tab",
        "label": "ESP8266 MQTT",
        "disabled": false
    },
    {
        "id": "faa477fc.52b4c8",
        "type": "mqtt in",
        "z": "fab5440.6ce50c",
        "name": "",
        "topic": "topictest",
        "qos": "1",
        "datatype": "auto",
        "broker": "f47905a.6210b78",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "ac0f88b3.643d78"
            ]
        ]
    },
    {
        "id": "3fee8245.a6584e",
        "type": "mqtt out",
        "z": "fab5440.6ce50c",
        "name": "",
        "topic": "topictest",
        "qos": "1",
        "retain": "false",
        "broker": "f47905a.6210b78",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "ac0f88b3.643d78",
        "type": "ui_text",
        "z": "fab5440.6ce50c",
        "group": "e711f8ea.a9a1d8",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "out",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "60bbc246.edae14",
        "type": "ui_gauge",
        "z": "fab5440.6ce50c",
        "name": "",
        "group": "3a5323ad.23b164",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Dégré",
        "label": "C",
        "format": "{{value}}",
        "min": "0",
        "max": "90",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "405e8a7f.ab535c",
        "type": "ui_chart",
        "z": "fab5440.6ce50c",
        "name": "",
        "group": "3a5323ad.23b164",
        "order": 2,
        "width": 6,
        "height": 4,
        "label": "Courbe",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "90",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 440,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8c8c7349.e62e08",
        "type": "mqtt in",
        "z": "fab5440.6ce50c",
        "name": "",
        "topic": "topictest/temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "f47905a.6210b78",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "60bbc246.edae14",
                "405e8a7f.ab535c",
                "ac0f88b3.643d78"
            ]
        ]
    },
    {
        "id": "1e4c0dfa.78a77a",
        "type": "ui_switch",
        "z": "fab5440.6ce50c",
        "name": "",
        "label": "On/Off",
        "tooltip": "",
        "group": "e711f8ea.a9a1d8",
        "order": 1,
        "width": 4,
        "height": 3,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "fa-bolt fa-5x",
        "oncolor": "green",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "fa-close fa-5x",
        "offcolor": "red",
        "animate": true,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "3fee8245.a6584e"
            ]
        ]
    },
    {
        "id": "65061092.ae97e8",
        "type": "ui_switch",
        "z": "fab5440.6ce50c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e711f8ea.a9a1d8",
        "order": 7,
        "width": 2,
        "height": "5",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "fd",
        "onvalueType": "str",
        "onicon": "fa-mail-forward fa-5x",
        "oncolor": "green",
        "offvalue": "c",
        "offvalueType": "str",
        "officon": "fa-mail-forward fa-5x",
        "offcolor": "silver",
        "animate": false,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "3fee8245.a6584e"
            ]
        ]
    },
    {
        "id": "705acd9f.46c3a4",
        "type": "ui_switch",
        "z": "fab5440.6ce50c",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "e711f8ea.a9a1d8",
        "order": 5,
        "width": 2,
        "height": "5",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "cg",
        "onvalueType": "str",
        "onicon": "fa-mail-reply fa-5x",
        "oncolor": "green",
        "offvalue": "f",
        "offvalueType": "str",
        "officon": "fa-mail-reply fa-5x",
        "offcolor": "silver",
        "animate": false,
        "x": 230,
        "y": 300,
        "wires": [
            [
                "3fee8245.a6584e"
            ]
        ]
    },
    {
        "id": "f41a1444.609b28",
        "type": "mqtt in",
        "z": "fab5440.6ce50c",
        "name": "",
        "topic": "topictest/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "f47905a.6210b78",
        "x": 260,
        "y": 440,
        "wires": [
            [
                "4f1d1c1e.8ada74",
                "311f1e06.400332"
            ]
        ]
    },
    {
        "id": "4f1d1c1e.8ada74",
        "type": "ui_gauge",
        "z": "fab5440.6ce50c",
        "name": "",
        "group": "75b8ad77.83845c",
        "order": 8,
        "width": "6",
        "height": "4",
        "gtype": "wave",
        "title": "Pourcentage",
        "label": "%",
        "format": "{{value}}",
        "min": "10",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 450,
        "y": 440,
        "wires": []
    },
    {
        "id": "311f1e06.400332",
        "type": "ui_chart",
        "z": "fab5440.6ce50c",
        "name": "",
        "group": "75b8ad77.83845c",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Courbe",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 440,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "f47905a.6210b78",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.129",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "e711f8ea.a9a1d8",
        "type": "ui_group",
        "name": "Control du moteur",
        "tab": "9f8fbb0c.03d908",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "3a5323ad.23b164",
        "type": "ui_group",
        "name": "Température",
        "tab": "9f8fbb0c.03d908",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "75b8ad77.83845c",
        "type": "ui_group",
        "name": "Humidité",
        "tab": "9f8fbb0c.03d908",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "9f8fbb0c.03d908",
        "type": "ui_tab",
        "name": "IHM",
        "icon": "fa-institution",
        "order": 1,
        "disabled": false,
        "hidden": true
    }
]
